absl-py==0.7.1
astor==0.7.1
attrs==19.1.0
boto3==1.9.130
botocore==1.12.130
certifi==2019.3.9
chardet==3.0.4
Click==7.0
conda==4.3.16
dataclasses==0.6
defusedxml==0.6.0
docutils==0.14
dstc8-reddit==0.1.0
entrypoints==0.3
gast==0.2.2
grpcio==1.19.0
idna==2.8
ipywidgets==7.4.2
Jinja2==2.10.1
jmespath==0.9.4
jsonschema==3.0.1
jupyter==1.0.0
jupyter-console==6.0.0
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
lockfile==0.12.2
luigi==2.8.9
Markdown==3.1
mistune==0.8.4
nbconvert==5.5.0
nbformat==4.4.0
nltk==3.4
notebook==5.7.8
numpy==1.14.5
pandocfilters==1.4.2
prometheus-client==0.6.0
prompt-toolkit==1.0.15
protobuf==3.7.0
pycosat==0.6.3
pydantic==0.32.2
pyhocon==0.3.51
pyrsistent==0.15.1
python-daemon==2.1.2
python-dateutil==2.8.0
python-rapidjson==0.8.0
pytorch-pretrained-bert==0.6.1
qtconsole==4.4.4
regex==2019.3.12
requests==2.21.0
ruamel.yaml==0.16.5
ruamel.yaml.clib==0.2.0
s3transfer==0.2.0
Send2Trash==1.5.0
singledispatch==3.4.0.3
six==1.12.0
sklearn==0.0
tensorboard==1.12.2
tensorflow==1.9.0
tensorflow-gpu==1.12.0
tensorflow-hub==0.4.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
torch==1.0.1.post2
tqdm==4.31.1
urllib3==1.24.2
Werkzeug==0.15.2
widgetsnbextension==3.4.2
